.App-logo {
  height: 60px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nav-options {
  display: flex;
  list-style: none;
  cursor: pointer;
}

.nav-options > li {
  padding: 15px;
  margin-right: 2px;
}

.App-nav {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  margin-top: 5px;
  padding: 10px;
}

.App-footer {
  background-color: #282c34;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65px;
  position: fixed;
  bottom: 0;
}